{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="">
<head>
<title>E-kart</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'hm/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">


<div class="wrapper row3">
  <main class="hoc container clear">

    <section id="introblocks">
      <ul class="nospace group btmspace-80">


        {% for i in pr %}
        <li class="one_third first">
          <figure><a href={{i.get_url}}><img src="{{i.img.url}}" alt="" style="width:200;height:300"></a>
            <figcaption>
              <h4 class="heading">{{i.name}} </h4>
              <p>{{i.desc|truncatechars:25}}</p>
              <p> Price : {{i.price}} RS </p>
              <p>Stock left : {{i.stock}}</p><br>
            </figcaption>
          </figure>
        </li>
        {% endfor %}


      </ul>
    </section>

  </main>
</div>

<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{% static 'hm/layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'hm/layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'hm/layout/scripts/jquery.mobilemenu.js' %}"></script>
</body>
</html>
{% endblock %}

